<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ExposureEventLogMapper">

  <insert id="insertExposureLog" parameterType="com.ruoyi.system.domain.ExposureEvent" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO exposure_event_log (config_id, account, platform, exposure_time, create_time)
    VALUES (#{configId}, #{account}, #{platform}, #{exposureTime}, #{createTime})
  </insert>

  <select id="selectTodayCountByConfig" resultType="int" parameterType="long">
    SELECT COALESCE(COUNT(*), 0)
    FROM exposure_event_log
    WHERE config_id = #{configId} AND DATE(exposure_time) = CURDATE()
  </select>

  <select id="selectLogsByConfig" resultType="com.ruoyi.system.domain.ExposureEvent" parameterType="map">
    SELECT id, config_id, account, platform, exposure_time, create_time
    FROM exposure_event_log
    WHERE config_id = #{configId}
    ORDER BY exposure_time DESC
    LIMIT #{offset}, #{limit}
  </select>

</mapper>
