<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ai_friend.mapper.FaAiFriendMapper">
    
    <resultMap type="FaAiFriend" id="FaAiFriendResult">
        <result property="id"    column="id"    />
        <result property="expirationAiId"    column="expiration_ai_id"    />
        <result property="friendUserId"    column="friend_user_id"    />
        <result property="friendAccount"    column="friend_account"    />
        <result property="friendNickname"    column="friend_nickname"    />
        <result property="friendAvatar"    column="friend_avatar"    />
        <result property="friendRemark"    column="friend_remark"    />
        <result property="isLead"    column="is_lead"    />
        <result property="lastChatTime"    column="last_chat_time"    />
        <result property="unreadCount"    column="unread_count"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFaAiFriendVo">
        select id, expiration_ai_id, friend_user_id, friend_account, friend_nickname, friend_avatar, friend_remark, is_lead, last_chat_time, unread_count, status, del_flag, create_by, create_time, update_by, update_time from fa_ai_friend
    </sql>

    <select id="selectFaAiFriendList" parameterType="FaAiFriend" resultMap="FaAiFriendResult">
        <include refid="selectFaAiFriendVo"/>
        <where>  
            <if test="expirationAiId != null "> and expiration_ai_id = #{expirationAiId}</if>
            <if test="friendUserId != null "> and friend_user_id = #{friendUserId}</if>
            <if test="friendAccount != null  and friendAccount != ''"> and friend_account = #{friendAccount}</if>
            <if test="friendNickname != null  and friendNickname != ''"> and friend_nickname like concat('%', #{friendNickname}, '%')</if>
            <if test="friendAvatar != null  and friendAvatar != ''"> and friend_avatar = #{friendAvatar}</if>
            <if test="friendRemark != null  and friendRemark != ''"> and friend_remark = #{friendRemark}</if>
            <if test="isLead != null "> and is_lead = #{isLead}</if>
            <if test="lastChatTime != null "> and last_chat_time = #{lastChatTime}</if>
            <if test="unreadCount != null "> and unread_count = #{unreadCount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectFaAiFriendById" parameterType="Long" resultMap="FaAiFriendResult">
        <include refid="selectFaAiFriendVo"/>
        where id = #{id}
    </select>

    <insert id="insertFaAiFriend" parameterType="FaAiFriend">
        insert into fa_ai_friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="expirationAiId != null">expiration_ai_id,</if>
            <if test="friendUserId != null">friend_user_id,</if>
            <if test="friendAccount != null">friend_account,</if>
            <if test="friendNickname != null">friend_nickname,</if>
            <if test="friendAvatar != null">friend_avatar,</if>
            <if test="friendRemark != null">friend_remark,</if>
            <if test="isLead != null">is_lead,</if>
            <if test="lastChatTime != null">last_chat_time,</if>
            <if test="unreadCount != null">unread_count,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="expirationAiId != null">#{expirationAiId},</if>
            <if test="friendUserId != null">#{friendUserId},</if>
            <if test="friendAccount != null">#{friendAccount},</if>
            <if test="friendNickname != null">#{friendNickname},</if>
            <if test="friendAvatar != null">#{friendAvatar},</if>
            <if test="friendRemark != null">#{friendRemark},</if>
            <if test="isLead != null">#{isLead},</if>
            <if test="lastChatTime != null">#{lastChatTime},</if>
            <if test="unreadCount != null">#{unreadCount},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFaAiFriend" parameterType="FaAiFriend">
        update fa_ai_friend
        <trim prefix="SET" suffixOverrides=",">
            <if test="expirationAiId != null">expiration_ai_id = #{expirationAiId},</if>
            <if test="friendUserId != null">friend_user_id = #{friendUserId},</if>
            <if test="friendAccount != null">friend_account = #{friendAccount},</if>
            <if test="friendNickname != null">friend_nickname = #{friendNickname},</if>
            <if test="friendAvatar != null">friend_avatar = #{friendAvatar},</if>
            <if test="friendRemark != null">friend_remark = #{friendRemark},</if>
            <if test="isLead != null">is_lead = #{isLead},</if>
            <if test="lastChatTime != null">last_chat_time = #{lastChatTime},</if>
            <if test="unreadCount != null">unread_count = #{unreadCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFaAiFriendById" parameterType="Long">
        delete from fa_ai_friend where id = #{id}
    </delete>

    <delete id="deleteFaAiFriendByIds" parameterType="String">
        delete from fa_ai_friend where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>