<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FaGroupChatMemberMapper">
    
    <resultMap type="FaGroupChatMember" id="FaGroupChatMemberResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleType"    column="role_type"    />
        <result property="joinTime"    column="join_time"    />
        <result property="quitTime"    column="quit_time"    />
        <result property="isMute"    column="is_mute"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectFaGroupChatMemberVo">
        select id, group_id, user_id, role_type, join_time, quit_time, is_mute, del_flag from fa_group_chat_member
    </sql>

    <select id="selectFaGroupChatMemberList" parameterType="FaGroupChatMember" resultMap="FaGroupChatMemberResult">
        <include refid="selectFaGroupChatMemberVo"/>
        <where>  
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="roleType != null "> and role_type = #{roleType}</if>
            <if test="joinTime != null "> and join_time = #{joinTime}</if>
            <if test="quitTime != null "> and quit_time = #{quitTime}</if>
            <if test="isMute != null "> and is_mute = #{isMute}</if>
        </where>
    </select>
    
    <select id="selectFaGroupChatMemberById" parameterType="Long" resultMap="FaGroupChatMemberResult">
        <include refid="selectFaGroupChatMemberVo"/>
        where id = #{id}
    </select>

    <insert id="insertFaGroupChatMember" parameterType="FaGroupChatMember">
        insert into fa_group_chat_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="roleType != null">role_type,</if>
            <if test="joinTime != null">join_time,</if>
            <if test="quitTime != null">quit_time,</if>
            <if test="isMute != null">is_mute,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="roleType != null">#{roleType},</if>
            <if test="joinTime != null">#{joinTime},</if>
            <if test="quitTime != null">#{quitTime},</if>
            <if test="isMute != null">#{isMute},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateFaGroupChatMember" parameterType="FaGroupChatMember">
        update fa_group_chat_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="quitTime != null">quit_time = #{quitTime},</if>
            <if test="isMute != null">is_mute = #{isMute},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFaGroupChatMemberById" parameterType="Long">
        delete from fa_group_chat_member where id = #{id}
    </delete>

    <delete id="deleteFaGroupChatMemberByIds" parameterType="String">
        delete from fa_group_chat_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>